<h1>セラピスト一覧</h1>
<ul>
  <% @therapists.each do |therapist| %>
    <li><%= image_tag therapist.image %><%= therapist.name %><%= therapist.license %><%= therapist.self_introduction %></li>
  <% end %>
</ul>

<%= paginate @therapists%>