<% provide(:title, 'Sign up') %>
<h1>ユーザー登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @user do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :sex %>
      <%= f.radio_button :user_type, :男性, checked: true %>
      <%= f.label :男性 %>
      <%= f.radio_button :user_type, :女性 %>
      <%= f.label :女性 %>
      <%= f.radio_button :user_type, :その他 %>
      <%= f.label :その他 %>
      <%= f.radio_button :user_type, :無回答 %>
      <%= f.label :無回答 %>

      <%= f.label :age %>
      <%= f.text_field :age %>

      <%= f.label :pref %>
      <%= f.select :pref, User.prefs.keys, include_blank: true %>

      <%= f.label :user_type %>
      <%= f.radio_button :user_type, :施術を受けたい人, checked: true %>
      <%= f.label :施術を受けたい人 %>
      <%= f.radio_button :user_type, :施術をしたい人 %>
      <%= f.label :施術をしたい人 %>

      <%= f.label :image %>
      <%= f.text_field :image %>

      <%= f.label :treatment_type %>
      <%= f.radio_button :user_type, :理学療法士, checked: true %>
      <%= f.label :理学療法士 %>
      <%= f.radio_button :user_type, :作業療法士 %>
      <%= f.label :作業療法士 %>
      <%= f.radio_button :user_type, :登録カイロプラクター %>
      <%= f.label :登録カイロプラクター %>
      <%= f.radio_button :user_type, :はり師 %>
      <%= f.label :はり師 %>
      <%= f.radio_button :user_type, :きゅう師 %>
      <%= f.label :きゅう師 %>
      <%= f.radio_button :user_type, :あん摩マッサージ指圧師 %>
      <%= f.label :あん摩マッサージ指圧師 %>
      <%= f.radio_button :user_type, :柔道整復師 %>
      <%= f.label :柔道整復師 %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%# <%= f.label :password_confirmation, "Confirmation" %>
      <%# <%= f.password_field :password_confirmation %>

      <%= f.submit "この内容で登録する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>